.Footer-container {
	color: var(--primary);
	background: var(--grey);
	border-top: 1px solid var(--secondary);
	font-size: 20px;
	text-decoration: none;
	bottom: 0;
	width: 100%;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.Footer-links {
	margin-left: var(--col);
	margin-right: var(--col);
	display: flex;
	flex-wrap: wrap;
}

.Footer-title {
	margin: 0 auto;
	color: var(--primary);
	text-decoration: none;
	transition: 0.5s;
	padding-top: 2px;
	padding-bottom: 2px;
	outline: 0;
}

.Footer-title:hover{
	color: var(--secondary);
}

.Footer-title:active{
	color: var(--primary);
	background: var(--secondary);
}
