.Footer-container {
	margin: 0 auto;
	padding: 2% var(--col);
	color: var(--primary);
	background: var(--grey);
	border-top: 1px solid var(--secondary);
	display: flex;
	font-size: 20px;
	text-decoration: none;
	position: relative;
}

.Footer-title {
	margin: 0 auto;
	color: var(--primary);
	text-decoration: none;
	transition: 0.5s;
	padding-left: 1%;
	padding-right: 1%;
	border: 1px solid var(--grey);
	outline: 0;
}

.Footer-title:hover{
	color: var(--secondary);
	border: 1px solid var(--secondary);
	border-radius: 15%;
}

.Footer-title:active{
	color: var(--primary);
	background: var(--secondary);
}
