.Album-cover-container{
	padding: 0;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.Album-cover{
	max-width: 400px;
	max-height: 300px;
	border: 1px solid var(--grey);
	transition: 0.5s;
	display: inline-block;
}

.Album-cover:hover{
	border: 1px solid var(--secondary);
}
