.NavBar-container{
	border-bottom: 1px solid var(--secondary);
	display: flex;
	width: 100%;
	background: var(--grey);
}

.NavBar-title {
	font-size: 50px;
	color: var(--primary);
	margin: 10px;
	text-decoration: none;
	text-shadow: 0px 2px var(--secondary);
	transition: 0.5s;
	outline: 0;
}

.NavBar-title:hover {
	color: var(--secondary);
}

.NavBar-items-container {
	margin: 10px;
	padding: 10px;
	text-align: right;
	display: flex;
	width: 25%;
}

.NavBar-item-container {
	margin: auto;
	
}

.NavBar-item {
	font-size: 20px;
	text-shadow: 0px 1px var(--secondary);
	color: var(--primary);
	text-decoration: none;
	outline: 0;
	position: relative;
	padding-bottom: 3px;
	display: inline-block;
	transition: 0.5s;
}

.NavBar-logo-container {
	margin-left: var(--col);
	margin-top: 10px;
	margin-bottom: 10px;
	width: 4%;
	height: auto;
	display: inline;
}

.NavBar-logo {
	width: 100%;
}	

.NavBar-item {
	text-decoration: none;
	color: var(--primary);
	position: relative;
	display: inline-block;
}

.NavBar-item:hover{
	color: var(--secondary);
}

