.NavBar-container{
	border-bottom: 1px solid var(--secondary);
	display: flex;
	width: 100%;
	background: var(--grey);
}

.NavBar-title {
	font-size: 50px;
	color: var(--primary);
	margin: 10px;
	text-decoration: none;
	text-shadow: 0px 2px var(--secondary);
	transition: 0.5s;
	outline: 0;
}

.NavBar-title:hover {
	color: var(--secondary);
}

.NavBar-items-container {
	margin: 10px;
	padding: 10px;
	text-align: right;
	display: flex;
}

.NavBar-item {
	font-size: 20px;
	text-shadow: 0px 1px var(--secondary);
	margin: auto auto auto 10%;
	color: var(--primary);
	text-decoration: none;
	transition: 0.5s;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid var(--grey);
	outline: 0;
}

.NavBar-item:first-of-type{
	margin-left: 45%;
}

.NavBar-item:hover {
	color: var(--secondary);
	border-bottom: 1px solid var(--secondary);
}

.NavBar-logo-container {
	margin-left: var(--col);
	margin-top: 10px;
	margin-bottom: 10px;
	width: 4%;
	height: auto;
	display: inline;
}

.NavBar-logo {
	width: 100%;
}	
