.Landing-container{
	margin: 0 auto;
	position: relative;
}

.Landing-quote-container {
	margin: 0 auto;
	background: url("../../../public/montan.png");
	background-size: cover;
	height: 30vh;
	border-radius: 20px 20px 40px 40px;
	color: black;
	font-style: italic;
	text-align: center;
	display: block;
}

#quote {
	font-size: 20px;
	padding-top: 10vh;
}

#author {
	margin-right: 20%;
	text-align: right;
}

.selector {
	display: flex;
}

#selected {
	background: var(--secondary);
	color: var(--primary);
}

.panel {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	height: 10vh;
	width: 100%;
	border: 1px solid var(--secondary);
	border-radius: 20px;
	background: var(--background);
	text-align: center;
	color: var(--secondary);
	transition: 0.5s;
	outline: none;
}

.panel:hover {
	border-color: var(--primary);
	color: var(--primary);
}

.Landing-background {
	position: relative;
}
