.App-container{
	color: var(--secondary);
	margin: 0 auto;
	padding: 0;
	height: 100%;
	position: relative;
}

.Page-container{
	margin: 10px var(--col) 10px;
	padding: 0;
	min-height: 75vh;
	position: relative;
}
