@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

:root{
	--primary: #ffffff;
	--secondary: #36c5af;

	--background: #1e1e1e;
	--grey: #444;

	--col: 	20%;
}

#root {
	height: 89%;
}

.Page-container {
	
}

.Page-title {
	text-align: center;
	font-size: 50px;
	color: var(--primary);

}

html {
	background-color: var(--background);
	margin: 0;
	height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	height: 100%;
	margin: 0;
}

.u-fadein {
	animation: 1.2s fadein;
}

::selection {
	color: var(primary);
	background: var(--secondary);
}

@keyframes fadein {
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}
