@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

:root{
	--primary: #ffffff;

	--secondary: #36c5af;
	--secondary-dark: #14a38d;

	--background: #1e1e1e;
	--grey: #444;

	--col: 	20%;
}

#root {
	position: relative;
	min-height: 100vh;
	
}

.Page-container {
	min-height: 100%;
}

.Page-title {
	text-align: center;
	font-size: 50px;
	color: var(--primary);
}

.Previews-container{
	margin: 10px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.Prev-container{ 
	margin: 10px;
	padding: 0;
	display: block;
	width: 47.9%;
}

.Prev-row{
	display: flex;
}

.Prev-title{
	font-size: 30px;
	color: var(--primary);
	transition: 0.5s;
	text-decoration: none;
}

.Prev-title:hover{
	color: var(--secondary);
}

html {
	background-color: var(--background);
	margin: 0;
	height: 100vh;
}

body {
	font-family: "Lato", sans-serif;
	height: 100vh;
	margin: 0;
}

.u-fadein {
	animation: 1.5s fadein;
}

.u-center {
	text-align: center;
}

::selection {
	color: var(--primary);
	background: var(--secondary);
}

@keyframes fadein {
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}
